body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    list-style-type: none;
    text-align: end;
}

li {
    display: inline-block;
    padding: 0 2%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    border-top: 4px solid rgb(142, 206, 231);
    padding-top:0.5rem;
}

img.size {
    height: 3rem;
    width:8rem;
    float: left;
    padding-left: 2rem;
}

.nav {
    clear: both; 
    position: fixed;
    background-color: rgba(0, 0, 0, 0.63);
    width: 100%;
    display:inline-block;
}

.parallax {
    background-image:url("pictures/inazuma-temple.jpeg");
    height: 95%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    background-color: rgb(141, 108, 185);
    padding: 8rem;
}

img {
    padding: 0 1.3rem;
    margin: 0;
    transition: width 2s;
}

img:hover{
    width: 22%;
}

main h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.parallax2 {
    background-image:url("pictures/inazuma-house.jpeg");
    height: 65%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    width: 100%;
    background-color: black;
}

.color {
    color: white;
    margin:0;
    padding:1rem 0;
    text-align: center;
    font-size: 65%;
}